/*----- FONTS -----*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*----- GERAL -----*/

html{    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

    height: 100%;
}
/* -----INICIO CSS HOME -----*/


@media (max-width:1150px) {
    .topicos-funciona {
        flex-direction: column;
    }

}

footer {
    bottom: 0;
    width: 100%;
    background-color: #0A0908;
    color: #a39160;
    text-align: center;
    padding: 1vw 0;
    height: 6vw;
    margin: 0;
    margin-top: 8vh;
    font-size: .8vw;
}

/*----- NAVBAR -----*/
header {
    background-color: #0A0908;
    padding: 0.8vw 0;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(3px);
    font-size: 1vw;
}

header .container {
    margin: 0.3vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    transition: 150ms;
    width: 100%;
    padding: .5vw;
    margin-bottom: 1vw;
    border-radius: 30px;
    background-color: #FAFFFD;
}

input:hover{
    border: solid 2px;
    border-color: #a39160;
    color: #a39160;
    scale: 1.02;
    transition: 200ms;
    font-weight: 700;
    background-color: #00405100;
}

.logo-header img {
    height: 4vw;
    width: auto;
    display: block;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    color: white;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    transition: 300ms;
}

.navbar li:hover {
    transition: 200ms;
    font-weight: 600;
    scale: 1.05;
}

.button-login {
    background-color: #a39160;
    color: #0A0908;
    border: none;
    border-radius: 5px;
    padding: .5vw .9vw;
    cursor: pointer;
    transition: 100ms;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: .8vw;
}

.button-login:hover {
    background-color: #0A0908;
    border: solid 2px;
    border-color: #a39160;
    color: #a39160;
    scale: 1.05;
    transition: 100ms;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

/* -----CONTAINER 1----- */
.container-meio1 {
    padding: 18.5%;
    margin: 0;
}

.titulo-meio1 {
    color: #a39160;
    font-size: 3.3vh;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;

}

.texto-meio1 {
    color: #a39160;
    font-size: 2.7vh;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

}

/* -----CONTAINER 2----- */
.container-meio2 {
    background-color: #FAFFFD;
    padding: 4% 8%;
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 2%;
}

.titulo-funciona {
    color:#a39160;
    font-size: 5vh;
    font-weight: 800;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.topicos-funciona {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topico {
    flex: 1;
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1.5vh;
    border-radius: 5px;
}

.topico h3 {
    margin-bottom: 8px;
    font-size: 2.5vh;
    font-weight: bold;
    color: #a39160;
    justify-self: center;
}

.topico p {
    font-size: 2vh;
    margin: 0;
    color: #a39160;
}

.imagem-meio2 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.imagem-meio2 img {
    width: 17vw;
    height: auto;
    display: block;
}

/* -----CONTAINER 3----- */
.container-meio3 {
    background-color: #a39160;
    padding: 3% 8% 5% 8%;
    width: 80vw;
    border-radius: 3vh;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.titulo-meio3 h3 {
    color: white;
    font-size: 4vh;
    font-weight: 700;
    margin-bottom: 6vh;
    display: flex;
}

.texto-meio3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-meio3 ul {
    list-style: disc;
    padding-left: 2vw;
    color: white;
    font-size: 2.7vh;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.texto-meio3 img {
    height: 40vh;
    border-radius: 2vh;
}


/* ----- FINAL CSS HOME ----- */


/*----- INICIO CSS CADASTRO ----- */

.body-cadastro h2 {
    font-size: 1.45vw;
    color: #a39160;
    text-align: center;
    margin-bottom: 10px;
    justify-self: center;
}

.body-cadastro{
    margin-top: 8vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 5.5vw;
}

.caixa-cadastro {
    width: 70%;
    border: 2vw;
    border-radius: 30px;
    background-color: #FAFFFD;
    display: block;
    font-size: 13px;
    color: #a39160;
    text-align: left;
    padding: 10px;
}

.pai {
    display: flex;
    justify-content: space-around;
}

.filho {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
}

input {
    height: 25px;
    width: 90%;
    border-radius: 20px;
    border: 2px #a39160 solid;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#span_usuario {
    margin-left: 25px;
}

#span_tamanho,
#span_num,
#span_caracEsp,
#span_caracESP {
    margin-left: 25px;
}

input::placeholder {
    padding-left: 5px;
    color: #44444472;
}

.subtitulo {
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 20px;
    justify-items: left;
}

.link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
}

.link :hover{
    color: #a39160;
    transition: 200ms;
    font-weight: 600;
    scale: 1.05;

}

/*----- FINAL CSS CADASTRO ----- */

/*----- INICIO CSS LOGIN ----- */
.caixa-login {
    width: 40%;
    border: 2vw;
    border-radius: 30px;
    background-color: #FAFFFD;
    display: block;
    justify-self: center;
    align-self: center;
    font-size: 13px;
    color: #a39160;
    text-align: left;
    padding: 10px;
}

.caixa-login h2 {
    font-size: 20px;
    color: #a39160;
    text-align: center;
    margin-bottom: 30px;
    justify-self: center;
}

.titulo h1 {
    font-size: 28px;
    color: #f1f3e8;
    text-align: center;
    margin-bottom: 20px;
}

.titulo h2 {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    justify-self: center;
}

.filhol_login {
    margin-left: 2%;
    margin-right: 2%;
    width: 80%;
    justify-self: center;
}
/*----- FINAL CSS LOGIN ----- */

